<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoadsInLocalNetworks</key>
        <true/>
    </dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app uses your local network to connect to the sprinkler controller.</string>
</dict>
</plist>
